<!-- welcome.component.html -->
<!-- welcome.component.html -->
<nav class="navbar navbar-light bg-light" style="background-color: #cdcdcd !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/panda-svgrepo-com (1).svg" alt="" width="30" height="24"
                class="d-inline-block align-text-top">
            HACKATHON 2
        </a>
    </div>
</nav>
<div>

    <body style="height: 100%;width: auto;">


       
        

    </body>

    <footer style="background-color: gray; height: 100px;"></footer>
